@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-Bold.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Bold.ttf');
  font-weight: 900;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Jost", Helvetica, sans-serif;
}
.page{
  padding-top: 60px;
}
@keyframes slideDownWithClip {
  0% {
    clip-path: inset(0 0 100% 0);
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    clip-path: inset(0 0 0 0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideUpWithClip {
  0% {
    clip-path: inset(0 0 100% 0);
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    clip-path: inset(0 0 0 0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down-clip {
  animation: slideDownWithClip 1s ease-out forwards;
}
.slide-up-clip {
  animation: slideUpWithClip 1s ease-out forwards;
}
