@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-Bold.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Bold.ttf');
  font-weight: 900;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0a5d5d;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Jost", Helvetica, sans-serif;
  height: 100%;
}
.page{
  padding-top: 30px;
}
@keyframes slideDownWithClip {
  0% {
    clip-path: inset(0 0 100% 0);
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    clip-path: inset(0 0 0 0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideUpWithClip {
  0% {
    clip-path: inset(0 0 100% 0);
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    clip-path: inset(0 0 0 0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down-clip {
  animation: slideDownWithClip 1s ease-out forwards;
}
.slide-up-clip {
  animation: slideUpWithClip 1s ease-out forwards;
}
.tabby-promo {
  display: block !important;
  visibility: visible !important;
  min-height: 50px;
}
@keyframes smoothMarquee {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

.marquee {
  font-size: 15px;
  padding-block: 8px;
  border-block: 1px solid;
  overflow: hidden;
  user-select: none;
  --gap: 50px;
  display: flex;
  gap: var(--gap);
  margin-top: 1rem;
  /* background: #7f1d1d; */
  color: #7f1d1d;
}

.marquee ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);

  animation: scroll 40s linear infinite;
}
.marquee:hover ul {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

/* CSS */
.shop-btn {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 12px 28px 12px;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.shop-btn span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.shop-btn span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
  text-align: center;
}

.shop-btn:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 10;
}

.shop-btn:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.shop-btn:hover span:last-child {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);

}
.stylish-heading {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1rem;

}

.stylish-heading::before,
.stylish-heading::after {
  content: "";
  position: absolute;
  height: 4px;
  background-color: #111;
  background: linear-gradient(135deg, #667eea, #764ba2);
  width: 100px;
  top: 50%;
  transform: translateY(-50%);
}

.stylish-heading::before {
  left: -110px;
}

.stylish-heading::after {
  right: -110px;
}
@media screen and (max-width: 600px) {
  .stylish-heading::before {
    left: -50px;
    width: 50px;
  }
  
  .stylish-heading::after {
    right: -50px;
    width: 50px;
  }
}